body {
	font-size: 14px;
	line-height: 1.3;
	font-family: 'Open Sans', arial, sans-serif, helvetica;
}
.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
}
.header {
	background: #d34346;
	border-bottom: 10px solid #bd2d30;
}

.logo {
	display: block;
	float: left;
	width: 100%;
	padding: 18px 0;
	margin-left: -15px;
	max-width: 120px;
	background: url("../images/logo.png") center center no-repeat;
}

.menu-wrapper {
	position: relative;
	float: right;
	width: 50%;
	text-align: right;
}
@media screen and (min-width: 768px) {
	.menu-wrapper {
		display: block;
	}
}
.menu-hamburger {
	font-size: 2em;
	display: inline-block;
	padding: calc(10% - .5em);
	text-decoration: none;
	color: #fff;
}

@media screen and (min-width: 768px) {
	.menu-hamburger {
		display: none;
	}
}
.menu {
	position: absolute;
	top: 100%;
	right: 0;
	display: none;
	min-width: 12em;
	text-align: center;
	background: rgba(255, 255, 255, .8);
}
@media screen and (min-width: 768px) {
	.menu {
		display: block;
		position: static;
		min-width: 16em;
		text-align: right;
		background: none;
	}
}
.menu a {
	display: block;
	color: #ccc;
	transition: all 1s;
	text-decoration: none;
}
.menu__link {
	font-size: 0.75em;
	font-weight: bold;
	line-height: 1.33333em;
	
	text-transform: uppercase;
}
@media screen and (min-width: 768px) {
	.menu a {
		font-size: 0.75em;
		font-weight: bold;
		line-height: 1.33333em;
		display: inline-block;
		margin-top: 0;
		margin-left: 6%;
		margin-bottom: 2%;
		margin-right: 0;
		padding: 3% 0;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
	}
	.block-icon {
		display: inline-block;
		width: 10%;
	}
}
.menu a:hover {
	color: #ea5a4b;
	transition: all .3s;
}
@media screen and (min-width: 768px) {
	.menu a:hover {

		background: #bd2d30;

	}
}

.menu-wrapper:hover .menu {
	display: block;
	z-index: 2;
	transition: all 1s;
}
.wrap {
	box-sizing: border-box;
	padding: 16px;
	margin: 0 0 -5% 0;
	background: #ffffff;
	border: 1px solid rgb(218, 218, 218);
	position: relative
}

.slider {
	width: 100%;
	height: auto;
	max-height: 450px;
}

.sl_slide {
	position: relative;
}

.sl_img {
	width: 100%;
	height: auto;
	cursor: pointer;
}

.sl_description {
	position: absolute;
	width: 84%;
	top: 4%;
	left: 7%;
}

.sl_title {
	padding: 0.65%;
	margin: 1px 0;
	color: #fff;
	border-left: 10px;
	font-size: 1em;
	font-weight: normal;
}
.title {
	margin: 0;
	font-size: 1em;
}
.sl_desc {
	font-size: 1em;
	margin: 0;
}
.extra {
	font-weight: 800;
}
.red {
	background: #d05054;
	border-color: #be3639;
}
.black {
	background: #3f5264;
	border-color: #2d3946;
}

/************************* COLORS *********************/

.dark-blue {
	color: #2c3e50;
}

/******* INTRO *****************/
.intro {
display: flex;
}
.intro__inner {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
	padding: 0 5%;
}
.inner__img {

}
.inner__title {
	color: #bd2c30;
	font-size: 20px;
	font-weight: 500;
}
.inner__desc {
	color: #212121;
	font-size: 14px;
	font-weight: 400;
}
@media screen and (min-width: 360px) {
	.intro {
	
}
}
@media screen and (min-width: 480px) {
	.intro {
	
}
}
@media screen and (min-width: 480px) {
	.intro {
	
}
}