body {
	font-size: 14px;
	line-height: 1.3;
	font-family: 'Open Sans', arial, sans-serif, helvetica;
}
h1,h2,h3,h4,h5 {
	color: #fff;
}
.pd {
	padding: 0 5%;
}
.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1170px;
}
.header {
	background: #d34346;
	border-bottom: 10px solid #bd2d30;
}

.logo {
	display: block;
	float: left;
	width: 100%;
	padding: 18px 0;
	margin-left: 5px;
	max-width: 160px;
	background: url(../img/logo.png) center center no-repeat;
}

.menu-wrapper {
	position: relative;
	float: right;
	width: 50%;
	text-align: right;
}
@media screen and (min-width: 768px) {
	.menu-wrapper {
		display: block;
	}
}
.menu-hamburger {
	font-size: 2em;
	display: inline-block;
	padding: calc(10% - .5em);
	text-decoration: none;
	color: #fff;
}

@media screen and (min-width: 768px) {
	.menu-hamburger {
		display: none;
	}
}
.menu {
	position: absolute;
	top: 100%;
	right: 0;
	display: none;
	min-width: 12em;
	text-align: center;
	background: rgba(255, 255, 255, .8);
}
@media screen and (min-width: 768px) {
	.menu {
		display: block;
		position: static;
		min-width: 16em;
		text-align: right;
		background: none;
	}
}
.menu a {
	display: block;
	color: #ccc;
	transition: all 1s;
	text-decoration: none;
}
.menu__link {
	font-size: 0.75em;
	font-weight: bold;
	line-height: 1.33333em;
	
	text-transform: uppercase;
}
@media screen and (min-width: 768px) {
	.menu a {
		font-size: 0.75em;
		font-weight: bold;
		line-height: 1.33333em;
		display: inline-block;
		margin-top: 0;
		margin-left: 6%;
		margin-bottom: 2%;
		margin-right: 0;
		padding: 3% 0;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
	}
	.block-icon {
		display: inline-block;
		width: 10%;
	}
}
.menu a:hover {
	color: #ea5a4b;
	transition: all .3s;
}
@media screen and (min-width: 768px) {
	.menu a:hover {

		background: #bd2d30;

	}
}

.menu-wrapper:hover .menu {
	display: block;
	z-index: 2;
	transition: all 1s;
}
.wrap {
	box-sizing: border-box;
	padding: 16px;
	margin: 0 0 -5% 0;
	background: #ffffff;
	border: 1px solid rgb(218, 218, 218);
	position: relative
}

.slider {
	width: 100%;
	height: auto;
	max-height: 450px;
}

.sl_slide {
	position: relative;
}

.sl_img {
	width: 100%;
	height: auto;
	cursor: pointer;
}

.sl_description {
	position: absolute;
	width: 84%;
	top: 4%;
	left: 7%;
}

.sl_title {
	padding: 0.65%;
	margin: 1px 0;
	color: #fff;
	border-left: 10px;
	font-size: 1em;
	font-weight: normal;
}
.title {
	margin: 0;
	font-size: 1em;
}
.sl_desc {
	font-size: 1em;
	margin: 0;
}



/************************* BACKGROUNDS COLORS  BORDERS *********************/

.extra {
	font-weight: 800;
}
.red__bg {
	background: #d34346;
	border-color: #be3639;
}
.dark-blue__bg {
	background: #314559;
	border-color: #2d3946;
}
.dark-blue {
	color: #2c3e50;
}
.red {
	color: #d34346;
}

.brdr-red {
	border-left: 10px solid #c62f31;
	padding-left: 22px;
}
.brdr-darkblue {
	border-left: 10px solid #18222b;
	padding-left: 22px;
}
/******* INTRO *****************/

.intro__wrap {
	background: #f7f7f7;
	padding: 10% 0;
}

.intro {
	display: flex;
	flex-wrap: wrap;
}

.inner {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
}

.inner__img {
}

.inner__title {
	font-size: 20px;
	font-weight: 500;
}

.inner__desc {
	color: #212121;
	font-size: 14px;
	font-weight: 400;
}

@media screen and (min-width: 360px) {
	.intro {

	}
}

@media screen and (min-width: 480px) {
	.intro {

	}
}

@media screen and (min-width: 640px) {
	.intro {

	}

	.intro__inner {
		width: 40%;
	}
}

@media screen and (min-width: 768px) {
	.intro {

	}
}

@media screen and (min-width: 1070px) {
	.intro {

	}
	.intro__inner {
		width: 39%;
	}
}
@media screen and (min-width: 1118px) {
	.intro {

	}
	.intro__inner {
		width: 25%;
		padding: 0;
	}
	.inner__desc {
		padding: 0 25% 0 5%;
	}

}


/**********ABUT US ***********/
.abut__us-wrap {
	background: #efefef;
}
.abut__inner-wrap {
	display: flex;
	flex-wrap: wrap;
}
.abut__inner {
	margin: 2% 0;
}

@media screen and (min-width: 1024px) {
	.abut__inner {
		width: 30%;
	}
}
@media screen and (min-width: 1170px){
	.pd {
		padding: 0;
	}
	.abut__inner {
		margin-right: 5%;
		width: 30%;
	}
	.abut__inner:last-child {
		margin-right: 0;
	}
}
.extra__header {
	font-weight: 800;
	color: #fff;
	font-size: 1em;
	text-transform: uppercase;
}
.inner__title-abut {
	color: #2c3e50;
}
.inner_desc-abut {
	color: #111;
}
.italic__white {
	font-style: italic;
	background: #f7f7f7;
	position: relative;
	margin-bottom: 2%;
}
.italic__white::before {
	content: '';
	position: absolute;
	bottom: -18px;
	left: 12px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 18px 18px 0;
	border-color: transparent #f7f7f7 transparent transparent;
	line-height: 0px;
	_border-color: #000000 #f7f7f7 #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.list {
	list-style: none;
}
.desc__text {
	padding-left: 1%;
}
.quote {
	padding-left: 13%;
	font-weight: 600;
}

/********** services *****/

.services__inner-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;

}
.normal {
	font-weight: normal;
}
.services__inner {
	width: 100%;
	margin-bottom: 5%;
}
.services__inner .fa{
	font-size: 4em;
}
.center {
	text-align: center;

}
.inner__desc {
	text-align-last: left;

}

@media screen and (min-width: 541px) {
	.services__inner {
		width: 50%;
	}
	
}
@media screen and (min-width: 768px) {
	.services__inner {
		width: 33%;
	}
	
}
@media screen and (min-width: 1170px) {
	.services__inner {
		width: 15%;
		margin-right: 1%;
		padding-top: 5%;
	}
	.services__inner:last-child {
		margin-right: 0;
	}
	.inner__desc-services {
		font-size: 1em;
	}
	
}

/*********PRICES *******/

.prices-wrap {
	background: #efefef;
}
.prices__inner-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: stretch;
	cursor: pointer;

}
.prices__inner-wrap:hover .price{
	color: #d34346;
}
.prices__inner-wrap:hover .list__text {
	color: #d34346;
}
.prices__inner-wrap:hover .fa {
	color: #d34346;
}
.prices__inner-wrap:hover .inner__title {
	border-left: 10px solid #c62f31;
	padding-left: 22px;
	background: #d34346;
}
.prices__inner-wrap:hover .btn{
	background: #d34346;
}
.prices__inner {
	width:  100%;
	color: #314559;
	background: #f7f7f7;
}
.prices__inner-pd{
	padding-left: 23px;
}
.price {
	text-transform: uppercase;
	color: #314559;
	padding: 2% 0;
}

.brdr-rnd {
	border-bottom: 1px solid #efefef;
}
.btn {
	border: none;
	width: 100%;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;

}

.btn-darkblue {
	background: #314559;
}


.check-pd {
	padding-left: 2%;
}

@media screen and (min-width: 1170px) {
	
	.prices__inner-wrap {
		justify-content: space-between;
		height: 100%;
		padding: 5% 0;
	}

	.prices__inner {
		width: 20%;

	}
	.prices__inner:last-child {

	}
}
/*************FOOTER***************/
.footer {
	background: #314559;
	color: #fff;
}